a {color: #f2f3f4;}
a:hover {color: #ba0541;}

.top-padding3{
  padding-top: 15px;
  padding-bottom: 25px;
}
.bg-color1 {
  background-color:#f2f2f2;
}
.bg-color2 {
  background-color:#b20332;
  color:#fff;
}
.bg-color3 {
  background-color:#4f313a;
  color:#fff;
}
.bg-color4 {
  background-color:#0f0f0f;
  color:#fff;
}

.top-padding1 {
  padding-top: 80px;
  padding-bottom: 70px;
}
.top-space {
  padding: 1em 0;
}
.left-icon {
  float: left;
  width: 20%;
  margin-top: 1em;
}

.services-textbox {
  float: right;
  width: 78%;
}

.left-icon span.icons1 {
  background-position: -7px 0px;
}
.left-icon span {
  width: 64px;
  height: 64px;
  display: inline-block;
  /* background: url(../images/icons.png) no-repeat -8px 0px; */
  vertical-align: middle;
}


/* *************
2 Navigation Css
**********************/
.navbar {
    font-family: helvetica, sans-serif;
    margin-bottom: 0;
    background-color: #b23e46;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 1px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand { 
    color: #fff !important;
    
}

.navbar-nav li a:hover {
    color: #e8ced0 !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button{
  background-color:#b20332;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
body {
  background:#000000 !important;
 }
 
 /*
 
 */
 
 h3 {
   color: #b20332;
 }
 .text{
   color: #b20332;
   text-align: center;
 }
 
 
 .folded-corner:hover .text{
   visibility: visible;
   color: #000000;;
 }
 .Services-tab{
   margin-top:20px;
   
 
 }
 
 /*
   nav link items
 */
 .folded-corner{
   padding: 25px 25px;
   position: relative;
   font-size: 90%;
   text-decoration: none;
   color: #999; 
   background: transparent;
   transition: all ease .5s;
   border: 1px solid #b20332;
 }
 .folded-corner:hover{
   background-color : #b20332;
 }
 
 /*
   paper fold corner
 */
 
 .folded-corner:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   border-style: solid;
   border-width: 0 0px 0px 0;
   border-color: #ddd #000;
   transition: all ease .3s;
 }
 
 /*
   on li hover make paper fold larger
 */
 .folded-corner:hover:before {
   background-color: #b20332;
   border-width: 0 50px 50px 0;
   border-color: #eee #000;
   
 }
 
 .service_tab_1{
   background-color: #000;
 }
 .service_tab_1:hover .fa-icon-image{
     color: #000;
     transform: rotate(360deg) scale(1.5);
 }
 
 
 .fa-icon-image{
   color: #b20332;
   display: inline-block;
     font-style: normal;
     font-variant: normal;
     font-weight: normal;
     line-height: 1;
     font-size-adjust: none;
     font-stretch: normal;
     text-rendering: auto;
     transition: all .65s linear 0s;
     text-align: center;
     transition: all 1s cubic-bezier(.99,.82,.11,1.41);
 }



 body { color: #fefefe }
 .footer-widget p {
     margin-bottom: 27px;
 }
 p {
     font-family: 'Nunito', sans-serif;
     font-size: 16px;
     line-height: 28px;
     color: #fff;
 }
 
    .animate-border {
   position: relative;
   display: block;
   width: 115px;
   height: 3px;
  background:#b20332;
  /* background: #007bff; */ }
 
 .animate-border:after {
   position: absolute;
   
   content: "";
   width: 35px;
   height: 3px;
   left: 0;
   bottom: 0;
   border-left: 10px solid #fff;
   border-right: 10px solid #fff;
   -webkit-animation: animborder 2s linear infinite;
   animation: animborder 2s linear infinite; }
 
 @-webkit-keyframes animborder {
   0% {
     -webkit-transform: translateX(0px);
     transform: translateX(0px); }
   100% {
     -webkit-transform: translateX(113px);
     transform: translateX(113px); } }
 
 @keyframes animborder {
   0% {
     -webkit-transform: translateX(0px);
     transform: translateX(0px); }
   100% {
     -webkit-transform: translateX(113px);
     transform: translateX(113px); } }
 
 .animate-border.border-white:after {
   border-color: #fff; }
 
 .animate-border.border-yellow:after {
   border-color: #F5B02E; }
 
 .animate-border.border-orange:after {
   border-right-color: #b20332;
   border-left-color: #b20332; }
 
 .animate-border.border-ash:after {
   border-right-color: #EEF0EF;
   border-left-color: #EEF0EF; }
 
 .animate-border.border-offwhite:after {
   border-right-color: #F7F9F8;
   border-left-color: #F7F9F8; }
 
 /* Animated heading border */
 @keyframes primary-short {
   0% {
     width: 15%; }
   50% {
     width: 90%; }
   100% {
     width: 10%; } }
 
 @keyframes primary-long {
   0% {
     width: 80%; }
   50% {
     width: 0%; }
   100% {
     width: 80%; } } 
 
 .dk-footer {
   padding: 75px 0 0;
   background-color: #151414;
   position: relative;
   z-index: 2; }
   .dk-footer .contact-us {
     margin-top: 0;
     margin-bottom: 30px;
     padding-left: 80px; }
     .dk-footer .contact-us .contact-info {
       margin-left: 50px; }
     .dk-footer .contact-us.contact-us-last {
       margin-left: -80px; }
   .dk-footer .contact-icon i {
     font-size: 24px;
     top: -15px;
     position: relative;
     color:#b20332; }
 
 .dk-footer-box-info {
   position: absolute;
   top: -122px;
   background: #202020;
   padding: 40px;
   z-index: 2; }
   .dk-footer-box-info .footer-social-link h3 {
     color: #fff;
     font-size: 24px;
     margin-bottom: 25px; }
   .dk-footer-box-info .footer-social-link ul {
     list-style-type: none;
     padding: 0;
     margin: 0; }
   .dk-footer-box-info .footer-social-link li {
     display: inline-block; }
   .dk-footer-box-info .footer-social-link a i {
     display: block;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     background: #000;
     margin-right: 5px;
     color: #fff; }
     .dk-footer-box-info .footer-social-link a i.fa-facebook {
       background-color: #3B5998; }
     .dk-footer-box-info .footer-social-link a i.fa-twitter {
       background-color: #55ACEE; }
     .dk-footer-box-info .footer-social-link a i.fa-google-plus {
       background-color: #DD4B39; }
     .dk-footer-box-info .footer-social-link a i.fa-linkedin {
       background-color: #0976B4; }
     .dk-footer-box-info .footer-social-link a i.fa-instagram {
       background-color: #B7242A; }
 
 .footer-awarad {
   margin-top: 285px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 100%;
   -moz-box-flex: 0;
   -ms-flex: 0 0 100%;
   flex: 0 0 100%;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center; }
   .footer-awarad p {
     color: #fff;
     font-size: 24px;
     font-weight: 700;
     margin-left: 20px;
     padding-top: 15px; }
 
 .footer-info-text {
   margin: 26px 0 32px;
   color: #fff; }
 
 .footer-left-widget {
   padding-left: 80px; }
 
 .footer-widget .section-heading {
   margin-bottom: 35px; }
 
 .footer-widget h3 {
   font-size: 24px;
   color: #fff;
   position: relative;
   margin-bottom: 15px;
   max-width: -webkit-fit-content;
   max-width: -moz-fit-content;
   max-width: fit-content; }
 
 .footer-widget ul {
   width: 50%;
   float: left;
   list-style: none;
   margin: 0;
   padding: 0; }
 
 .footer-widget li {
   margin-bottom: 18px; }
 
 .footer-widget p {
   margin-bottom: 27px; }
 
 .footer-widget a {
   color: #878787;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s; }
   .footer-widget a:hover {
     color: #b20332; }
 
 .footer-widget:after {
   content: "";
   display: block;
   clear: both; }
 
 .dk-footer-form {
   position: relative; }
   .dk-footer-form input[type=email] {
     padding: 14px 28px;
     border-radius: 50px;
     background: #2E2E2E;
     border: 1px solid #2E2E2E; }
   .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
     color: #fefefe;
     font-size: 14px; }
   .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
     color: #fefefe;
     font-size: 14px; }
   .dk-footer-form button[type=submit] {
     position: absolute;
     top: 0;
     right: 0;
     padding: 12px 24px 12px 17px;
     border-top-right-radius: 25px;
     border-bottom-right-radius: 25px;
     border: 1px solid #b20332;
     background: #b20332;
     color: #fff; }
   .dk-footer-form button:hover {
     cursor: pointer; }
 
 /* ==========================
 
     Contact
 
 =============================*/
 .contact-us {
   position: relative;
   z-index: 2;
   margin-top: 65px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   align-items: center; }
 
 .contact-icon {
   position: absolute; }
   .contact-icon i {
     font-size: 36px;
     top: -5px;
     position: relative;
     color: #b20332; }
 
 .contact-info {
   margin-left: 75px;
   color: #fff; }
   .contact-info h3 {
     font-size: 20px;
     color: #fff;
     margin-bottom: 0; }
 
 .copyright {
   padding: 28px 0;
   margin-top: 55px;
   background-color: #202020; }
   .copyright span,
   .copyright a {
     color: #fefefe;
     -webkit-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
     transition: all 0.3s linear; }
   .copyright a:hover {
     color:#b20332; }
 
 .copyright-menu ul {
   text-align: right;
   margin: 0; }
 
 .copyright-menu li {
   display: inline-block;
   padding-left: 20px; }
 
 .back-to-top {
   position: relative;
   z-index: 2; }
   .back-to-top .btn-dark {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     padding: 0;
     position: fixed;
     bottom: 20px;
     right: 20px;
     background: #2e2e2e;
     border-color: #2e2e2e;
     display: none;
     z-index: 999;
     -webkit-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
     transition: all 0.3s linear; }
     .back-to-top .btn-dark:hover {
       cursor: pointer;
       background: #FA6742;
       border-color: #FA6742; }